<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>wowlight</title>
    <script>
        const {ipcRenderer} = require('electron');
        // window.$ = window.jQuery = require('./assets/scripts/jquery.min.js');
        window.jQuery = window.$ = require('jquery');
    </script>

    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <% } %>
</head>
<body>
<div ref="app" id="app"></div>
<!-- Set `__static` path to static files in production -->
<script>
    if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
</script>

<!-- webpack builds are automatically injected -->
</body>
</html>
